
    @media only screen and (max-width: 800px) {
        body {
            height: 100vh !important;
            background-color: #fff;
        }

        nav section {
            background: linear-gradient(var(--Weather-light-1) 30%, var(--Weather-light-3)60%,
            var(--Weather-light-1) 100%);
            width: 100%;
            margin: 0px auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .navItem {
            padding: 0px 0px;
            min-width: 80px;
            margin: 0px auto;
            background-color: transparent;
            border-radius: 0px !important;
            font-weight: bold;
            color: var(--Weather-light-4);
            text-align: center;
            border: 0px solid transparent !important;
            box-shadow: 0px 0px 0px var(--Weather-light-4);

        }
        h3 {
            width: fit-content;
        }
        main {
            background: linear-gradient(var(--Weather-light-4) 30%,
                    var(--Weather-light-3)60%,
                    var(--Weather-light-4) 100%);
            width: 370px!important;
            height: fit-content;
            margin: 8px auto 8px auto;
            border: 2px solid var(--Weather-light-2);
            border-radius: 5px;
            text-align: center;
            align-items: center;

        }

        .content{
        display: flex;
        flex-direction: column!important;
        }

        footer,
        .mainImg,
        .mainSadImg {
            display: none!important;
        }
        
        /* .navItem:nth-last-child(-n+6) {
            display: none;
        } */

        .flex-row-sm-col {
            display: flex;
            flex-direction: column !important;
        }
    }

    /* Styles for devices with screens 800px to 1024px wide (tablets) */
    @media only screen and (min-width: 800px) and (max-width: 1024px) {
        
        .navItem {
            padding: 5px 3px;
            min-width: 100px;
            margin: 15px auto;
            background-color: transparent;
            border-radius: 5px;
            font-weight: bold;
            color: var(--Weather-light-4);
            text-align: center;
            border: 5px solid var(--Weather-light-2);
            box-shadow: 5px 5px 5px var(--Weather-light-4);
        }

    }

    /* Styles for devices with screens 1024px to 1440px wide (laptops and desktops) */
    @media only screen and (min-width: 1024px) and (max-width: 1440px) {}

    /* Styles for devices with screens larger than 1440px (large desktops and TVs) */
    
    /*If height smaller than 768px*/

    @media only screen and (max-height: 768px) {
        .newsBanner {
            display: flex;
            min-height: 1em;
            background: transparent;
            color: #FFF;
            padding: 2px;
            line-height: 1.4;
            text-align: center;
            transform: translateZ(0);
            cursor: pointer;
            font-size: 20px;
            overflow-x: hidden;
            position: absolute;
            bottom: auto !important;
            left: 100%;
            overflow: hidden;
            animation: scroll 20s linear 1s infinite;

        }
        #bg {
            min-height: 3em;
            line-height: 1.6;
            width: 100%;
            background: var(--Weather-light-1);
            position: absolute;
            bottom: auto!important;
            left: 0;
            font-size: 20px;
            font-family: "Roboto", Helvetica;
        }
        body {
            height: 100%!important;
        }
    }
    