    /* Styles for devices with screens less than 768px wide (smartphones) */
    @media only screen and (max-width: 767px) {
        body {
            height: 100vh !important;
            background-color: #fff;

        }

        nav section {
            position: absolute;
            bottom: 0px;
            background: linear-gradient(var(--Weather-light-1) 30%, var(--Weather-light-3)60%,
            var(--Weather-light-1) 100%);
            width: 100%;
            margin: 0px auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .navItem {
            padding: 0px 0px;
            min-width: 80px;
            margin: 0px auto;
            background-color: transparent;
            border-radius: 0px !important;
            font-weight: bold;
            color: var(--Weather-light-4);
            text-align: center;
            border: 0px solid transparent !important;
            box-shadow: 0px 0px 0px var(--Weather-light-4);

        }

        .navItem:nth-last-child(-n+7) {
            display: none;
        }

        main {
            background: linear-gradient(var(--Weather-light-4) 30%,
                    var(--Weather-light-3)60%,
                    var(--Weather-light-4) 100%);
            width: 370px!important;
            height: fit-content;
            margin: 15px auto 20px auto;
            border: 2px solid var(--Weather-light-2);
            border-radius: 5px;
            text-align: center;
            align-items: center;

        }

        .content{
        display: flex;
        flex-direction: column!important;
        }

        footer,
        .mainImg {
            display: none;
        }

    }

    /* Styles for devices with screens 768px to 1024px wide (tablets) */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        
        .navItem {
            padding: 5px 3px;
            min-width: 100px;
            margin: 15px auto;
            background-color: transparent;
            border-radius: 5px;
            font-weight: bold;
            color: var(--Weather-light-4);
            text-align: center;
            border: 5px solid var(--Weather-light-2);
            box-shadow: 5px 5px 5px var(--Weather-light-4);
        }

    }

    /* Styles for devices with screens 1024px to 1440px wide (laptops and desktops) */
    @media only screen and (min-width: 1024px) and (max-width: 1440px) {}

    /* Styles for devices with screens larger than 1440px (large desktops and TVs) */
    @media only screen and (min-width: 1440px) {}